
.venv/

.env


__pycache__/
*.pyc
*.pyo


.ipynb_checkpoints/


.DS_Store


scripts/data/
data/
src/data/

# Models & generated outputs
models/
notebooks/*.png
notebooks/codebert_commit_analysis.py

*.log

.vscode/

build/
dist/
*.egg-info/
